<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <title>Wordle Solver</title>
  </head>
  <body>
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title has-text-centered">Wordle Solver</h1>
        <form action="/solve" method="POST" class="is-half">
          <label for="notInTheWord">Letters not in the word:</label>
          <input
            type="text"
            id="notInTheWord"
            name="notInTheWord"
            placeholder="e.g., abc"
            class="input is-primary is-rounded"
          /><br />

          <label for="inTheWord">Letters in the word but wrong position:</label>
          <input
            type="text"
            id="inTheWord"
            name="inTheWord"
            placeholder="e.g., d"
            class="input is-primary is-rounded"
          /><br />

          <label for="correctlyPlaced">Correctly placed letters:</label>
          <input
            type="text"
            id="correctlyPlaced"
            name="correctlyPlaced"
            placeholder="e.g., _r___"
            class="input is-primary is-rounded"
          /><br />

          <div class="has-text-centered">
            <button type="submit" class="button is-primary">Solve</button>
          </div>
        </form>
      </div>
    </div>

    {% if words %}
    <h2>Possible words:</h2>
    <ul>
      {% for word in words %}
      <li>{{ word[0] }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
